// Variables
$primary-color: brown;
$secondary-color: #ffffff;

.navbar {
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      max-width: 100px;
      margin-right: 1px;
    }

    .logo-text {
      font-size: 1.5rem;
      font-weight: bold;
      color: $secondary-color;
      text-transform: uppercase;
    }
  }

  .menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap; // Ini untuk memastikan menu tidak tumpang tindih

    li {
      list-style: none;
    }

    .nav-link {
      color: $secondary-color;
      text-decoration: none;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        color: $secondary-color;
        border-radius: 5px;
      }
    }

    .contact {
      background-color: $primary-color;
      color: $secondary-color;
      padding: 0.5rem 1.5rem;
      border-radius: 50px;
      border: 2px solid $secondary-color;

      &:hover {
        background-color: lighten($primary-color, 10%);
        border: 2px solid lighten($primary-color, 10%);
      }
    }
  }
}

.pop-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.pop-up.active {
  opacity: 1;
  transform: translateY(0);
}

/* MEDIA QUERIES */

// Mobile responsiveness
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 1rem;

    .logo-container {
      margin-bottom: 1rem;
    }

    .menu {
      flex-direction: column;
      gap: 1.5rem; // Tambahkan sedikit jarak untuk kenyamanan

      li {
        opacity: 1;
        width: 100%; // Pastikan setiap menu item mengambil seluruh lebar
        text-align: center; // Tengah-tengah kan teks
      }

      .nav-link {
        font-size: 1.2rem;
        padding: 1rem;
        width: 100%; // Buat link memenuhi lebar layar kecil
      }
    }
  }
}

// Tablet responsiveness
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 0.5rem 1rem;

    .logo-container {
      .logo {
        max-width: 80px;
      }

      .logo-text {
        font-size: 1.3rem;
      }
    }

    .menu {
      gap: 1rem;

      .nav-link {
        font-size: 1.1rem;
      }
    }
  }
}

// Larger screens
@media (min-width: 1025px) {
  .navbar {
    padding: 0.25rem 2rem;

    .logo-container {
      .logo {
        max-width: 120px;
      }

      .logo-text {
        font-size: 2rem;
      }
    }

    .menu {
      gap: 2rem;
    }
  }
}
