
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


html, body {
  margin: 0; /* Menghilangkan margin default */
  padding: 0; /* Menghilangkan padding default */
  height: 100%; /* Membuat html dan body mengisi seluruh viewport */
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1; /* Membuat App mengambil ruang penuh */
  display: flex;
  flex-direction: column;
}

/* Menghilangkan scrollbar di Chrome, Edge, dan Safari */
::-webkit-scrollbar {
  display: none;
}

/* Menghilangkan scrollbar di Firefox */
html {
  scrollbar-width: none;
}

/* Pastikan overflow tetap bekerja tanpa scrollbar */
body {
  overflow: hidden; /* Jika ingin sepenuhnya tidak bisa di-scroll */
  /* atau */
  overflow-y: auto; /* Jika ingin bisa di-scroll tapi tanpa scrollbar */
}


.main-content {
  flex: 1; /* Membuat konten utama mengambil ruang yang tersisa */
  padding-bottom: 60px; /* Sesuaikan dengan tinggi footer */
}



@media screen and (min-width: 1240px){
  .container{
      width: 80%;
      margin: auto;
  }

  .section{
      padding: 6rem 0 4rem;
  }
}

@media screen and (min-width: 2560px){
  .body{
      zoom: 1.7;
  }
}